<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-startup-image" href="startup.png">
	<link rel="apple-touch-icon" href="chocolatechip-icon.png"/>
	<link rel="shortcut icon" href="favicon.ico">
	<title>ChocolateChip Mobile</title>
	<link rel="stylesheet" href="../chui/chui.css">
	<style>
		/* Local Styles Here */
		view#main {
			background-color: rgba(192,132,96,0.25);
		}
		view#main tableview > tablecell {
			background-color: rgba(255,255,255,0.75);
		}	
	</style>
	    <script src="../chui/jquery-1.6.4.js"></script>
		<script src="../chui/jquery.tmpl.js"></script>
	    <script src="../chui/chui.js"></script>
	    <script src="../chui/iscroll.js"></script>
	<script>
	

		/* Local JavaScript Here */
		$(function() {
		    var user_data = window.location.href.slice(window.location.href.indexOf('?') + 1);
			user_data = unescape(user_data);
			window.data = JSON.parse(user_data);
			
			// Template to consume JSON sent from form:
			$.template("userTmpl", 
				"{{if (user.name.first || user.name.last)}}\
					<tablecell><celltitle>Name: \
					{{if user.name.first}} \
						${user.name.first}\
					{{/if}}\
					{{if user.name.last}}\
						${user.name.last}\
					{{/if}}\
					</celltitle></tablecell>\
				{{/if}}\
				{{if user.email}}\
					<tablecell><cellsubtitle>Email: ${user.email}</cellsubtitle></tablecell>\
				{{/if}}\
				{{if user.phone}}\
				    <tablecell><celldetail>Phone: ${user.phone}</celldetail></tablecell>\
				{{/if}}\
				{{if user.message}}\
				    <tablecell><celldetail>Message: ${user.message}</celldetail></tablecell>\
				{{/if}}\
				{{if user.favoriteFood}}\
				    <tablecell><celldetail>Favorite foods:<ol>\
				    	{{each user.favoriteFood }}\
				        	<li>${$value}</li>\
				    	{{/each}}\
					</ol></celldetail></tablecell>\
				{{/if}}\
				{{if user.job}}\
				    <tablecell><celldetail>Job: ${user.job}</celldetail></tablecell>\
				{{/if}}");
			
			// Process and insert template with JSON:
			$.tmpl("userTmpl", data).appendTo('#main tableview:first-of-type');
		});
	</script>
</head>
<body>
	<app>
		<view id="main" ui-background-style="slanted-left" ui-navigation-status="current">
		<navbar class="ui-custom-tint"><h1>JSON from URL</h1></navbar>
			<subview id="subview1" ui-associations="withNavBar">
				<scrollpanel>
					<tableview ui-tablecell-order="stacked" ui-kind="grouped" class="ui-no-hover">
						<tableheader>
							This is an example of a JSON object sent through the url. 
						</tableheader>
					</tableview>
				</scrollpanel>
			</subview>
		</view>
	</app>
</body>
</html>
